.footer {
	background-color: $footer_bcg_color;
	padding: 38px 35px 47px;
	color: white;
	text-align: center;
}
.footer__title {
	@include section_title;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.footer__description {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: $footer_color_text;
}
.footer__logo {
	margin-top: 25px;
	margin-bottom: 26px;
}
.footer_info {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: $footer_color_text;
}
.add-discription {
	display: none;
}
@media (min-width: 768px) {
	.footer__description {
		font-size: 16px;
		line-height: 28px;
		display: inline;
	}

	.footer__logo {
		margin-top: 37px;
		margin-bottom: 34px;
	}
	.footer_info {
		font-size: 16px;
		line-height: 26px;
	}
	br {
		display: none;
	}
}
@media (min-width: 1200px) {
	.footer {
		padding: 66px 250px 70px;
	}
	.footer__description {
		width: 600px;
		margin: auto;
		display: inline;
	}
}
