body {
	font-family: "Roboto", sans-serif;
}

.header {
	position: relative;
	margin-bottom: 38px;
	@include content;
}

.header__burger {
	position: relative;
	width: 44px;
	height: 37px;
	background-color: $header_burger_bcg_color;
	margin: 23px 0;
	float: right;
	cursor: pointer;
}

.header__burger span {
	left: 14px;
	top: 17px;
}

.header__burger span,
.header__burger span::after,
.header__burger span::before {
	@include burger_span_content;
}

.header__burger span::before {
	content: " ";
	top: -4px;
}

.header__burger span::after {
	content: " ";
	bottom: -4px;
}

.header__burger span.active {
	background-color: rgba(255, 255, 255, 0);
}

.header__burger span.active::after {
	content: "";
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 100ms, transform 100ms 100ms;
}

.header__burger span.active::before {
	content: "";
	top: 0px;
	left: 0px;
	transform: rotate(45deg);
}

.header__list {
	display: none;
	background-color: $header_list_bcg_color;
	text-transform: uppercase;
	position: absolute;
	top: 60px;
	right: 0;
}

.animate {
	display: block;
}

.header__link {
	color: $header_list_color;
	text-decoration: none;
	font-size: 11px;
	padding: 0 70px 0 12px;
	line-height: 28px;
	cursor: pointer;
}

.header__list li:hover {
	background-color: $header_list_bcg_color-hover;
	.header__link {
		color: $header_list_color-hover;
	}
}

.header__img {
	width: 100%;
}

.post-section:last-child {
	display: none;
}
.post-item__description {
	display: none;
}

@media (min-width: 768px) {
	.header {
		display: flex;
		flex-direction: column;
		@include content_tablet;
	}
	.header__burger {
		display: none;
	}
	.header__list {
		position: static;
		display: flex;
		justify-content: space-evenly;
		margin-top: 41px;
		margin-bottom: 43px;
		background: none;
		& li:hover {
			background: none;
		}
	}
	.header__link {
		font-size: 11px;
		padding: 0;
	}
}
@media (min-width: 1200px) {
	.header {
		padding: 0 80px;
	}
}
