.instagram {
	@include content;
	margin-bottom: 42px;
}
.instagram__title {
	@include section_title;
	color: $post_title_color;
	margin-bottom: 13px;
}
.instagram__ourPage {
	display: none;
}

.instagram-img__images {
	display: none;
	width: 100%;
}
.instagram-img__images:first-child {
	display: block;
}

@media (min-width: 572px) and (max-width: 767px) {
	.instagram {
		background-color: rgb(247, 247, 247);
	}
	.instagram__title {
		padding-top: 47px;
		padding-bottom: 22px;
		display: flex;
		justify-content: space-between;
	}
	.instagram-img {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.instagram-img__images {
		display: block;
		width: 32%;
	}
	.instagram-img__images:last-child {
		display: none;
	}
	.instagram__ourPage {
		display: block;
	}
}

@media (min-width: 768px) {
	.instagram {
		@include content_tablet;
		background-color: rgb(247, 247, 247);
	}
	.instagram__title {
		padding-top: 47px;
		padding-bottom: 22px;
		display: flex;
		justify-content: space-between;
	}
	.instagram-img {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.instagram-img__images {
		display: block;
		width: 32%;
	}
	.instagram-img__images:last-child {
		display: none;
	}
	.instagram__ourPage {
		display: block;
	}
}
@media (min-width: 1200px) {
	.instagram {
		padding: 0 80px;
	}
	.instagram-img__images:last-child {
		display: block;
	}
	.instagram-img__images {
		width: 24%;
	}
}
