@mixin burger_span_content {
	width: 17px;
	position: absolute;
	height: 2px;
	background: rgba(255, 255, 255, 1);
	display: block;
	transition: 0.3s;
	border-radius: 3px;
}
@mixin section_title {
	line-height: 22px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
@mixin content {
	padding: 0 25px;
}
@mixin content_tablet {
	padding-left: 80px;
	padding-right: 80px;
}
@mixin font-post-item-description {
	font-weight: 700;
	line-height: 30px;
}
