.post {
	@include content;
}
.posts__title {
	color: $post_title_color;
	@include section_title;
	margin-bottom: 23px;
}

.post-section {
	margin-bottom: 28.5px;
}
.post-section__img {
	margin-bottom: 11px;
	width: 160px;
	height: 140px;
}

.post-item__description {
	display: block;
	font-size: 14px;
	@include font-post-item-description;
	color: $post_title_color;
}
.post-item_coment {
	font-weight: 400;
	font-size: 11px;
	line-height: 20px;
	color: $post_item_coment_color;
}

.post:last-child {
	margin-bottom: 77.5px;
}

.post-section:last-child {
	display: none;
}

.post-item__info {
	display: none;
}
@media (min-width: 572px) and (max-width: 767px) {
	.post-section {
		display: flex;
		// width: 555px;
		height: 140px;
	}
	.post-section:last-child {
		display: flex;
	}

	.post-item__description {
		display: block;
		font-size: 16px;
		@include font-post-item-description;
		color: $post_item_coment_color;
	}
	.post-item_coment {
		margin-bottom: 13px;
	}
	.post-item__info {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		color: rgba(92, 92, 92, 1);
	}
	.post-item__container {
		margin-left: 20px;
	}
}

@media (min-width: 768px) {
	.post {
		@include content_tablet;
	}
	.post-section {
		display: flex;
		width: 555px;
		height: 140px;
	}
	.post-section:last-child {
		display: flex;
	}

	.post-item__description {
		display: block;
		font-size: 16px;
		@include font-post-item-description;
		color: $post_item_coment_color;
	}
	.post-item_coment {
		margin-bottom: 13px;
	}
	.post-item__info {
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		color: rgba(92, 92, 92, 1);
	}
	.post-item__container {
		margin-left: 20px;
	}
}
@media (min-width: 1200px) {
	.post {
		padding: 0 80px;
	}
	.post-section-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.post-section {
		max-width: 555px;
		width: 50%;
		margin-bottom: 32px;
	}
}
