$header_burger_bcg_color: rgb(0, 0, 0);
$header_list_color: rgba(78, 78, 78, 1);
$header_list_bcg_color: rgba(245, 245, 245, 1);
$header_list_color-hover: rgba(87, 164, 164, 1);
$header_list_bcg_color-hover: rgba(229, 229, 229, 1);
$post_title_color: rgba(78, 78, 78, 1);
$post_item_coment_color: rgba(124, 124, 124, 1);
$footer_bcg_color: rgba(0, 0, 0, 1);
$footer_color_text: rgba(185, 185, 185, 1);
